<div id="movefromleft">
  <h1>Cert-Training Settings</h2>

  <p id="warning"><%= warning %></p>

  <%= form_tag("/start/saveSettings", method: "get") do %>
    <%= label_tag(:quantity, "Quantinty of Questions:") %>
    <%= text_field_tag(:quantity, session[:quantity]) %>
    <br/>
    <br/>
    <%= submit_tag("Lets go!") %>
  <% end %>
</div>
